
  
  .form-control-dark {
    color: #fff;
    background-color: var(--bs-dark);
    border-color: var(--bs-gray);
  }
  .form-control-dark:focus {
    color: #fff;
    background-color: var(--bs-dark);
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
  }
  
  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }
  
  .text-small {
    font-size: 85%;
  }
  
  .dropdown-toggle {
    outline: 0;
  }
  

  .banner-blocks{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 2rem;
  }

  .block-1 {
    grid-area: 1 / 1 / 3 / 9;
    --bs-bg-opacity: 1;
    background-color: rgba(230, 243, 250,var(--bs-bg-opacity))!important;
    padding: 30px 30px 60px 30px;
  }

  .block-2{
    grid-area: 1 / 9 / 2 / 13;
    --bs-bg-opacity: 1;
    background-color: rgba(238, 245, 228,var(--bs-bg-opacity))!important;
  }

  .block-3{
    grid-area: 2 / 9 / 3 / 13;
    --bs-bg-opacity: 1;
    background-color: rgba(249, 235, 231,var(--bs-bg-opacity))!important;
  }

  /* .banner-content{
    --bs-bg-opacity: 1;
    background-color: rgba(230, 243, 250,var(--bs-bg-opacity))!important;
    padding: 30px 30px 60px 30px;
  } */

